body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("/src/assets/lethal-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.nav-bar {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: #8f0c0c;
  gap: 5%;
  padding: 20px;
}
.tab {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.tab:hover {
  transform: translateY(-2px);
}

/* for the general title of the page */
h1 {
  text-align: center;
}

/* App */
.title {
  padding-top: 20px;
  text-align: center;
}
.title p {
  font-size: 1.3rem;
}

/*CSS for form for UpdateCharacter, CreateCharacter*/
.form-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.form-item {
  margin: 20px;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

label {
  font-size: 1.1rem;
}

.form-item input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Optional: Adds a border */
  border-radius: 4px; /* Optional: Rounded corners */
}

.form-item input[type="submit"] {
  padding: 10px 20px;
  background-color: #ff1500; /* Example button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-item input[type="submit"]:hover {
  background-color: #c13823; /* Darker on hover */
}

/* ViewCharacter */
.character-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.character-info {
  margin: 20px;
  width: fit-content;
  border: 1px solid black;
  border-radius: 4px;
  background-color: aliceblue;
  color: black;
}
.character-info img {
  border-radius: 5px 5px 0px 0px;
}
.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
button {
  margin-right: 6px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
button:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
.update {
  background: #676bed;
}
.update:hover {
  background: #585cdc;
}
.detail {
  background: #07b578;
}
.detail:hover {
  background: #06a371;
}
/* Centers the text when there are no characters bening created */
.empty-state {
  grid-column: 1 / -1;
  text-align: center;
  padding: 3rem;
}

/* the container for buttons on ViewCharacter and DetailCharacter */
.buttons {
  display: flex;
}

/* DetailCharaceter */
.character-detail {
  margin: 20px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 4px;
  background-color: aliceblue;
  color: black;
  width: 50%;
  display: flex;
  justify-self: center;
  align-items: center;
}
.delete {
  background: #f02715;
  display: flex;
}
.delete:hover {
  background: #cd2111;
}
.back {
  background: #05ae13;
  display: flex;
}
.back:hover {
  background: #099015;
}
